<% content_for :hero do %>
  <div class="top" style="background-image: url('<%= image_path("banner_bg.png") %>')">
    <div class="row collapse">
      <div class="medium-3 columns">
        <span class="compo-status">Listening Party</span>

        <div class="compo-progress">
          <div class="compo-progress-content">
            <span>45m</span>
          </div>
        </div>

      </div>

      <div class="medium-9 columns">
        <div class="titles">
          <h1 class="title round">One Hour Compo - Round 351</h1>
          <h2 class="motto round">One Hour Compo</h2>
        </div>
      </div>
    </div>
  </div>
<% end %>


<h2>Entries</h2>
