<% content_for :hero do %>
  <img class="blur" src="<%= image_path("banner_bg.png") %>" />
  <div class="titles">
    <h1 class="title round">One Hour Compo - Round 351</h1>
    <h2 class="motto round">One Hour Compo</h2>
  </div>
<% end %>


<h2>Entries</h2>
