<% content_for :hero do %>
  <img class="blur" src="<%= image_path("banner_bg.png") %>" />
  <div class="titles">
    <h1 class="title">Compoverse</h1>
    <h2 class="motto">Create. Learn. Compete.</h2>
  </div>
<% end %>

<h1>Welcome to the real world, Neo.</h1>
