<div class="top">
  <img class="blur" src="<%= image_path("banner_bg.png") %>" />
  <div class="titles">
    <h1 class="title">COMPO</h1>
    <h2 class="motto">Create. Learn. Compete.</h2>
  </div>
</div>
